[Unit]
Description=SimpleMenu Game Frontend
After=network.target local-fs.target
Conflicts=emulationstation.service

[Service]
Type=simple
User=ark
WorkingDirectory=/home/ark
ExecStart=/usr/local/bin/simplemenu
Restart=on-failure
RestartSec=2
StandardInput=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=multi-user.target
